/*------MOBILE VIEW-------*/
body {
    margin: 0;
}
/*--HEADER--*/

header {
    display: grid;
    /*display: flex;*/
    background-color: #8080ff;
    grid-template-areas: 
    "title bell picture name";
}

#webhead {
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
    color: white;
    grid-area: title;   
    margin-left: 5px;
}
.user {
    border-radius: 50%;
    height: 50px;
    grid-area: picture;
    margin-top: 8px;
    margin-left: 30px;
}

.bell {
    border-right: solid 2px white;
    padding-right: 18px;
    grid-area: bell;
    margin-top: 18px;
    margin-left: 20px;
    height: 40px;
    width: 30px;
    fill: white;
}

.myname {
    grid-area: name;
    text-align: right;
    margin-right: 5px;
    font-family: 'Mukta', sans-serif;
    color: white;
}

/*--NAV--*/

nav {
    padding-top: 10px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #8585ad;
}

.homesvg {
    fill: white;
    height: 30px;
    width: 35px;
    padding-left: 18px;
}

.chartsvg {
    fill: white;
    height: 30px;
    width: 35px;
}

.memberssvg {
    fill: white;
    height: 30px;
    width: 35px;
}

.settingssvg {
    fill: white;
    height: 30px;
    width: 35px;
    padding-right: 18px;
}

/*--MAIN--*/

main {
    font-family: 'Mukta', sans-serif;
}

.main-header {
    display: grid;
    grid-template-areas: 
    "dashboard tab";
    grid-template-columns: 40% 60%;
}

.headline {
    font-family: 'Mukta', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    grid-area: dashboard;
}

.tab {
    background-color: lightgrey;
    border-left: solid 1px gray;
    border-bottom: solid 1px gray;
    grid-area: tab;
}

.alert-banner {
    border-radius: 15px;
    font-family: 'Mukta', sans-serif;
    background-color: #6666ff;
    margin-top: 15px;
}

.alert-banner p {
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}

.alert-banner-close {
    font-size: 18px;
}

.traffic-nav-link {
    text-decoration: none;
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

#selected {
    background-color: #66ff66;
    color: white;
    border-radius: 35px;
}

hr {
    height: 2px;
    border-width: 0;
    width: 100%;
    background-color: lightgrey;
    margin-top: 28px;
}

h3 {
    padding-left: 5px;
}

.social-container {
    display: grid;
    grid-template-areas: 
    "image text";
    background-color: lightgrey;
    border: 1px solid darkgray;
    border-radius: 15px;
    margin-bottom: 10px;
}

.social-image {
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 50%;
    height: 40px;
    width: 45px;
    fill: white;
    background-color: #8080ff;
    grid-area: image;
}

.social-text {
    grid-area: text;
}

.medianame {
    color: #8080ff;
    margin-bottom: 0px;
}

.medianumber {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: darkgray;
    font-size: 34px;
}

.members-container{
    text-align: center;
}

.newphoto {
    border-radius: 50%;
    height: 70px;
    width: 75px;
}

.theirname {
    margin-bottom: 0px;
}

.theiremail {
    margin-bottom: 0px;
    text-decoration: none;
    color: #8080ff;
}

.dateofjoin {
    margin-top: 0px;
}

.theirtime {
    margin-top: 0px;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

#userField {
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 8px;
    width: 90%;
    background-color: lightgrey;
    border: solid 1px darkgrey;
    border-radius: 10px;
}

#messageField {
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 50px;
    width: 90%;
    background-color: lightgrey;
    border: solid 1px darkgrey;
    border-radius: 10px;
}

#send {
    margin-left: 5px;
    margin-bottom: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 95%;
    color: white;
    background-color: #8080ff;
    border: none;
    border-radius: 10px;
}

.togglegrid {
    display: grid;
    grid-template-areas:
    "label switch";
    grid-template-columns: 1fr 75px;
}

.toggleswitchdescript {
    grid-area: label;
    margin-left: 5px;
}

.switchitself {
    margin-top: 12px;
    margin-right: 5px;
    grid-area: switch;
}

#timezone {
    margin-left: 5px;
    margin-top: 15px;
    padding: 8px;
    width: 95%;
    background-color: lightgrey;
    border: solid 1px darkgrey;
    border-radius: 10px;
}

.settings-button {
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 45% 45%;
    grid-template-areas: 
    "save cancel";
}

#save {
    grid-area: save;
    margin-left: 8px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #8080ff;
    border-radius: 10px;
    border: none;
}

#cancel {
    grid-area: cancel;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: darkgrey;
    border-radius: 10px;
    border: none;
}

/*--GRID--*/

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
    display: grid;
}

/*-------TABLET VIEW--------*/

@media (min-width: 768px) {
 /*---GRID--FOR--768---*/
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    main {
        grid-template-columns: 50%;
    }

    .traffic, .members, .activity, .social, .message, .settings {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    /*---HEADER----FOR----768---*/

    header {
        display: grid;
        /*display: flex;*/
        background-color: #8080ff;
        grid-template-areas: 
        "title bell picture name";
        grid-template-columns: 1fr 60px;
    }

    /*---NAV---FOR---768---*/

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .homesvg {
        width: 35px;
        height: 25px;
        padding-left: 10px;
    }

    .chartsvg {
        width: 35px;
        height: 25px;
        padding-left: 10px;
        margin-top: 25px;
    }

    .memberssvg {
        width: 35px;
        height: 25px;
        padding-left: 10px;
        margin-top: 25px;
    }

    .settingssvg {
        width: 35px;
        height: 25px;
        padding-left: 10px;
        margin-top: 25px;
    }

    /*---MAIN---FOR---768---*/

    .dashandalert {
        display: grid;
        grid-template-areas: 
        "head"
        "alert";
    }

    .alert {
        grid-area: alert;
    }

    .main-header {
        grid-area: head;
    }

    .main-header {
        display: grid;
        grid-template-areas: 
        "dash tab";
        grid-template-columns: 1fr 3fr;
    }

    .headline {
        grid-area: dash;
    }

    .tab {
        background-color: lightgrey;
        border-left: solid 1px gray;
        border-bottom: solid 1px gray;
        width: 100%;
        grid-area: tab;
    }

    .social-image {
        margin-right: 6px;
    }

    .allsocials {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-container {
        padding-right: 20px;
        padding-left: 15px;
    }

    .members-container {
        display: grid;
        grid-template-areas: 
        "maininfo dateof";
    }

    .maininfo {
        display: flex;
        flex-direction: row;
        grid-area: maininfo;
        margin-left: 8px;
        /*text-align: left;*/
    }

    .newphoto {
        margin-top: 6px;
    }

    .members-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 12px;
    }

    .dateofjoin {
        grid-area: dateof;
        text-align: right;
        margin-right: 15px;
        padding-top: 14px;
    }

}






/*--------DESKTOP VIEW---------*/