/*------MOBILE VIEW-------*/
body {
    margin: 0;
}
/*--HEADER--*/

header {
    /*display: flex;*/
    background-color: #8080ff;
    grid-template-areas: 
    "title bell picture name";
}

#webhead {
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
    color: white;
    grid-area: title;   
    margin-left: 5px;
}
.user {
    border-radius: 50%;
    height: 50px;
    grid-area: picture;
    margin-top: 8px;
    margin-left: 30px;
}

.bell {
    border-right: solid 2px white;
    padding-right: 18px;
    grid-area: bell;
    margin-top: 18px;
    margin-left: 20px;
    height: 40px;
    width: 30px;
    fill: white;
}

.myname {
    grid-area: name;
    text-align: right;
    margin-right: 5px;
    font-family: 'Mukta', sans-serif;
    color: white;
}

/*--NAV--*/

nav {
    padding-top: 10px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #8585ad;
}

.homesvg {
    fill: white;
    height: 30px;
    width: 35px;
    padding-left: 18px;
}

.chartsvg {
    fill: white;
    height: 30px;
    width: 35px;
}

.memberssvg {
    fill: white;
    height: 30px;
    width: 35px;
}

.settingssvg {
    fill: white;
    height: 30px;
    width: 35px;
    padding-right: 18px;
}

/*--MAIN--*/

.main-header {
    display: grid;
    grid-template-areas: 
    "dashboard tab";
    grid-template-columns: 40% 60%;
}

.headline {
    font-family: 'Mukta', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    grid-area: dashboard;
}

.tab {
    background-color: lightgrey;
    border-left: solid 1px gray;
    border-bottom: solid 1px gray;
    grid-area: tab;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

/*--GRID--*/

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
    display: grid;
}

/*-------TABLET VIEW--------*/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}






/*--------DESKTOP VIEW---------*/